<% provide(:title, 'All personnes') %>
<h1>All personnes</h1>

<%= will_paginate %>

    <ul class="personnes">
      <h2>
<%= link_to 'New Personne', new_personne_path %> </h2>
    <% @personnes.each do |personne| %>
    <%= render personne %>
  <% end %>

</ul>

<%= will_paginate %>
