<h1>StaticPages#recappersonnes</h1>
<p>Personnes qui ne sont encore apparu dans aucune scene : </p>

<% Personne.all.each do |personne| %>  
	<%if personne.scene_ids==[] %>
		<h2><%=	link_to personne.nom , personne %> </h2>
		<%end%>
<%end%>