<% provide(:title, 'All anecdotes') %>
<h1>All anecdotes</h1>

<%= will_paginate %>

    <ul class="anecdotes">
      <h2>
<%= link_to 'New Anecdote', new_anecdote_path %> </h2>
    <% @anecdotes.each do |anecdote| %>
    <%= render anecdote %>
  <% end %>
      
  

  
</ul>

<%= will_paginate %>
