<% provide(:title, 'All scenes') %>
<h1>All scenes</h1>

<%= will_paginate %>

    <ul class="scenes">
      <h2>
<%= link_to 'New Scene', new_scene_path %> </h2>
    <% @scenes.each do |scene| %>
    <%= render scene %>
  <% end %>
      
</ul>

<%= will_paginate %>
