<% provide(:title, 'All chapitres') %>
<h1>All chapitres</h1>

<%= will_paginate %>

    <ul class="chapitres">
      <h2>
<%= link_to 'New Chapitre', new_chapitre_path %> </h2>
    <% @chapitres.each do |chapitre| %>
    <%= render chapitre %>
  <% end %>

</ul>

<%= will_paginate %>
